.main-about-us-section {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 80px;
}

.about-us-top-section {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
.about-girl-image {
  width: 90%;
}
.about-image-background {
  background-color: #d0d7ff;
  width: 350px;
  height: 320px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}
.about-us-main-description {
  color: #000000;
  font-size: 14px;
  font-family: 'roboto';
  width: 40vw;
}
.about-contact-now-btn {
  background-color: #5f71e4;
  width: 110px;
  height: 32px;
  border-radius: 6px;
  border-width: 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  font-family: 'roboto';
}
.blue-background-box {
  background-color: #5f71e4;
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-right: 8px;
}
.star-image {
  font-size: 20px;
  color: #ffffff;
}
.about-us-star-text-box {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.world-image {
  width: 300px;
}
.our-story-heading {
  color: #5f71e4;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 500;
  margin-bottom: -20px;
}
.about-page-middle-description {
  color: #5e5e5e;
  font-size: 16px;
  font-family: 'roboto';
  font-weight: 500;
  width: 40vw;
}
.view-more-text-span {
  color: #5f71e4;
}
.about-us-page-boxes {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #5f71e4;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  color: #000000;
  font-size: 30px;
  font-family: 'roboto';
  font-weight: 600;
  margin-right: 35px;
}
.about-us-box-container {
  display: flex;
  margin-top: -10px;
}
.founders-img-background {
  background-color: #5f71e4;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 180px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}
.ceos-images {
  width: 200px;
  height: 300px;
}
.main-founders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.founders-container {
  display: flex;
}
.founder-text {
  color: #5f71e4;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 500;
  text-align: center;
}
.ceo-name {
  color: #000000;
  font-size: 30px;
  font-family: 'roboto';
  font-weight: 600;
  text-align: center;
}
.hall-of-fame-image {
  width: 280px;
}
.hall-of-fame-box {
  margin-top: 90px;
}
